<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DbConnection" connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=RKN;Integrated Security=True;timeout=1600;App=gg"
 providerName="System.Data.SqlClient"/>-->
    <add name ="DbConnection" connectionString="server=skrinsql1;database=OpenData;uid=kuznetsov;pwd=scrin_work;timeout=600;Max Pool Size=10000;App=RKN"
         providerName="System.Data.SqlClient" />
    <!--<add name ="SecondCon" connectionString="server=skrinsql1;database=searchdb2;uid=kuznetsov;pwd=scrin_work;timeout=600;Max Pool Size=10000;App=gg"
         providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="url" value="http://unro.minjust.ru/nkoforeignagent.aspx"/>
    <add key="aurl" value="https://rkn.gov.ru/opendata/"/>
    <add key="baseurl" value="https://rkn.gov.ru"/>
    <add key="externalProxy" value="212.5.255.84:10102"/>
    <add key="mainurl" value="https://rkn.gov.ru/mass-communications/reestr/media/"/>
    <add key="sometest" value="http://cbr.ru/finmarket/nfo/ecb/?code=03490-A&amp;prx=download"/>
    <add key="sometest2" value="http://cbr.ru/finmarket/nfo/ecb/?code=00010-A&amp;prx=download"/>
    <add key="before" value="http://cbr.ru/finmarket/nfo/ecb/?code="/>
    <add key="after" value="&amp;prx=download"/>
    <add key="error_log" value="ErrorLog.txt"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>